.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  width: 100%;
  z-index: 1000;
}

.navbar-logo img {
  width: 100px;
  height: auto;
}
a {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  color: #5a8fba;
  text-decoration: underline;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  position: relative;
  margin-left: 20px;
}

.navbar-item a {
  text-decoration: none;
  color: #000000;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar-item a:hover {
  background-color: #e0e0e0;
  border-radius: 5px;
}
/* Añadir esto al final de tu CSS existente */

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar-toggle span {
  height: 3px;
  width: 25px;
  background: #000;
  margin: 3px 0;
}

@media (max-width: 1200px) {
  .navbar-menu {
    display: none; /* Ocultar menú por defecto */
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%; /* Ajustar según el tamaño de la navbar */
    left: 0;
    background-color: #fff; /* Color del fondo del menú */
    z-index: 999;
  }
  .navbar-menu.active {
    display: flex; /* Mostrar menú cuando se activa */
  }
  .navbar-toggle {
    display: flex; /* Mostrar botón de menú hamburguesa */
  }
}
